/*Imports*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");

/*Globals*/
body {
  padding: 0;
  margin: 0;
  background: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #46b7f0;
}
/*Classes*/
.user {
  background-color: white;
  color: black;
  border: #eeeeee 1px solid;
  font-size: 14px;
  border-radius: 20px;
  width: 610px;
  height: 670px;
  margin: 0;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  align-content: space-between;
  overflow: hidden;
  overflow-y: auto;
}

.user-item {
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
  flex: 1 1 100px;
}

.overlay {
  background: white;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.single-user-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.single-user-container * {
  pointer-events: all;
}

.single-user {
  border-radius: 20px;
  width: 270px;
  height: 340px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  border: #eeeeee 1px solid;
}

.user-images {
  border-radius: 50%;
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 5px;
}

.user-tile-image {
  border-radius: 50%;
  max-width: 128px;
  margin-bottom: 5px;
}

.image-and-name-container {
  position: absolute;
  top: -30px;
  color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-overflow: ellipsis;
  padding: 10px;
}

.user-name{
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #eeeeee;
  padding: 5px 10px 5px 10px ;
  border-radius: 40px;
}
.detail {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  display: inline-block;
}

.detail:nth-child(1n) {
  border-top: #eeeeee 1px solid;
}
