
/*Globals*/
body {
  padding: 0;
  margin: 0;
  background: #eeeeee;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

/*Classes*/
.user {
  background-color: white;
  color: black;
  font-size: 14px;
  border-radius: 20px;
  width: 610px;
  height: 670px;
  margin: 0;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  align-content: space-between;
}

.user-item {
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  margin: 5px ;
  flex: 1 1 100px;
}

.overlay {
  background: white;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.single-user-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.single-user-container * {
  pointer-events: all;
}

.single-user {
  border-radius: 20px;
  width: 500px;
  height: 300px;
}

.user-images{
  border-radius: 10px;
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 5px;

}
